@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.subnav{
    background-color: #000;

    &__cont{
        display: flex;
        flex-direction: column;

        @include tablet{
            flex-direction: row;
            margin: 0 auto;
            max-width: 70rem;
        }
    }

    &__links{
        color: #fff;
        text-transform: uppercase;
        list-style: none;
        padding: 1rem 0 1rem 1.25rem;
        width: 48%;
        letter-spacing: 1px;
        text-decoration: none;

        @include tablet{
            padding: 1rem 1.25rem;
        }

        &--underline{
            border-top: solid 2px #fff;
            display: flex;
            flex-direction: row;

            @include tablet{
                border: none;
                width: 100%;
            }
        }

        &--nounderline{
            border-bottom: none;
            display: flex;
            flex-direction: row;

            @include tablet{
                width: 100%;
            }
        }
    }
}

.subnav__links.active{
    color: $poke-yellow;
}