@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.subnav{
    background-color: #000;

    &__cont{
        display: flex;
        flex-direction: column;
    }

    &__links{
        color: #fff;
        text-transform: uppercase;
        list-style: none;
        padding: 1rem 0 1rem 1.5rem;
        width: 45%;

        &--underline{
            border-top: solid 2px #fff;
            display: flex;
            flex-direction: row;
        }

        &--nounderline{
            border-bottom: none;
            display: flex;
            flex-direction: row;
        }
    }
}