@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.pokecard{
    background: $blue-grad;
    border-radius: 1rem 0 1rem 1rem;
    -webkit-box-shadow: 4px 3px 9px 4px rgba(0,0,0,0.2); 
    box-shadow: 4px 3px 9px 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    align-items: center;

    &__name{
        text-transform: uppercase;
        color: #fff;
        font-size: 1.75rem;
    }

    &__id {
        background-color: $poke-yellow;
        font-size: 1.125rem;
        text-align: center;
        color: #fff;
        width: 3rem;
        height: 2rem;
        padding: .3rem .4rem;
        margin-left: auto;
    }

    &__type {
        text-transform: uppercase;
        font-size: 1.25rem;
        color: $poke-yellow;
        padding-top: .5rem;
    }

    &__types{
        display: flex;
        flex-direction: column;
        padding-bottom: .75rem;
        align-items: center;
    }

    &__image{
        width: 80%;
    }
}