@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.pokedex{
    padding: 1rem 0 2rem 0;

    &__grid{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-bottom: 1rem;
            max-width: 70rem;
            margin: 0 auto;
        }
    }
}