@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.homepage{
    background:$red-grad;
    padding-bottom: 2rem;

    &__image-cont{
        border: solid 8px $poke-yellow;
        background-image: url(../../assets/images/map.png);
        background-size: cover;
        background-position: center;
        height: 350px;
    }

    &__title{
        margin: -1.75rem 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 2rem;
    }

    &__title-cont{
        background-color: #000;
        margin: 2rem 0 2rem .5rem;
        padding: .75rem 1rem 1.75rem 1rem;
    }

    &__link-cont{
        display: flex;
        flex-direction: column;
    }

    &__links{
        color: #fff;
        text-transform: uppercase;
        background: $blue-grad;
        padding: .5rem 1rem;
        border-radius: .5rem;
        list-style: none;
        margin: .5rem 1rem;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
    }
}