@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.homepage{
    background:linear-gradient(0deg, #de1f26, #e02628, #e12c2a, #e3312c, #e5372e, #e63b30, #e84032, #ea4434, #eb4836, #ed4c39, #ee503b, #f0543d);;
    padding-bottom: 2rem;

    &__image-cont{
        border: solid 8px $poke-yellow;
        background-image: url(../../assets/images/map.png);
        background-size: cover;
        background-position: center;
        height: 350px;
    }

    &__title{
        margin: -1.75rem 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 2rem;
    }

    &__title-cont{
        background-color: #000;
        margin: 2rem 0 2rem .5rem;
        padding: .75rem 1rem;
    }

    &__link-cont{
        display: flex;
        flex-direction: column;
    }

    &__links{
        color: #fff;
        text-transform: uppercase;
        background: linear-gradient(0deg, #49669c, #436da2, #3d74a7, #377bab, #3181af, #2d88b2, #298eb4, #2995b6, #2b9bb7, #30a1b8, #37a7b8, #40adb8);
        padding: .5rem 1rem;
        border-radius: .5rem;
        list-style: none;
        margin: .5rem 1rem;
        text-align: center;
        letter-spacing: 1px;
    }
}